<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet"
          th:href="@{/{path}/css/active_admin.css(path=${@environment.getProperty('game.proxy_path')})}"/>
    <link rel="stylesheet"
          th:href="@{/{path}/css/application.css(path=${@environment.getProperty('game.proxy_path')})}"/>
    <title></title>
</head>
<body>

<h2 class="history_header">
    Totally Hot: Round Details
</h2>

<table border="1"
       class="history_table"
       id="games_history">
    <tbody>
    <tr>
        <th><h4 class="center_cell">Date/Time</h4></th>
        <th><h4 class="center_cell">Bet</h4></th>
        <th><h4 class="center_cell">Total Win</h4></th>
        <th><h4 class="center_cell">Profit</h4></th>
        <th><h4 class="center_cell">Balance Before</h4></th>
        <th><h4 class="center_cell">Balance after</h4></th>
        <th><h4 class="center_cell">Currency</h4></th>
        <th><h4 class="center_cell">Used Feature</h4></th>
    </tr>
    <tr>
        <td class="table_delimiter"
            th:text="${detail.time}"></td>
        <td class="table_delimiter"
            th:text="${detail.betText}"></td>
        <td class="table_delimiter"
            th:text="${detail.totalWinText}"></td>
        <td class="table_delimiter"
            th:text="${detail.profitText}"></td>
        <td class="table_delimiter"
            th:text="${detail.balanceBeforeText}"></td>
        <td class="table_delimiter"
            th:text="${detail.balanceAfterText}"></td>
        <td class="table_delimiter"
            th:text="${detail.currency}"></td>
        <td class="table_delimiter">
            <span th:text="${detail.usedFeature ? 'Yes' : 'No'}"></span>
        </td>
    </tr>
    <tr>
        <td colspan="8" class="round_view">
            <div class="round_details">
                <div class="slots_spin">
                    <div class="slots_outcome columns-5 rows-3">
                        <div th:each="symbol : ${detail.symbols}"
                             th:class="'totally_hot-' + ${symbol}"
                             th:style="|background-image: url(/${@environment.getProperty('game.proxy_path')}/img/totally_hot-c6c936a354f79fa1435eb1848d5fd5625dd3402852f6a4bc7063955206ad068c.png);|">
                        </div>
                    </div>
                    <div class="bets">
                        Total Bet
                        <th:block th:text="${detail.betText}"></th:block>
                        <th:block th:if="${detail.totalWin != null and detail.totalWin > 0}">
                            <br>
                            Total Win
                            <th:block th:text="${detail.totalWinText}"></th:block>
                        </th:block>
                    </div>
                    <div class="payout" th:if="${not #lists.isEmpty(detail.winLines)}">
                        Win lines
                        <ul>
                            <li th:each="line : ${detail.winLines}">
                                <div class="flex-display">
                                    [[${line[0]}]]
                                    <div class="small-symbol">
                                        <div th:class="'totally_hot-' + ${line[1]}"></div>
                                    </div>
                                    [[${line[2]}]]
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>